$verde-claro: #d9ffbf;
$verde: #a6ed8e;
$verde-fuerte: #74ba5f;

$azul1-claro: #728ea2;
$azul1: #456173;
$azul1-fuerte: #1a3748;

$azul2-claro: #1a3748;
$azul2: #1b3c59;
$azul2-fuerte: #001630;

$negro: #001630;
$gris: #aebac3;
$blanco: #fbfbfb;
