.ContenedorJugadores
{
    .fed{
        padding: 5em;
    }
    .icono
    {
        background-image: url("../../../assets/Search.svg");
    }
    .jugadoresFederacion
    {
        width:853px;
        height: 666px;
        left: 491px;
        top: 235px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }

    .participanteTorneo{
        padding:1em;
    }

    .botonX{
        background: #FFFFFF;
        border: 0.5px solid #AEBAC4;
        box-sizing: border-box;
    }


    .nomFederacion1
    {
        background: #FFFFFF;
        border: 0.5px solid #AEBAC4;
        box-sizing: border-box;
    }
    .nomFederacion
    {
        width:350px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #FFFFFF;
        background-color:  #1A3748;
    }
    .input{
        background: #FFFFFF;
        /* Gray 3 */
        width: 500px;
        height: 40px;
        border: 1px solid #ACB5BD;
        box-sizing: border-box;
        border-radius: 5px;
    }
    h1.torneo{
        padding-bottom: 2em;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 10px;
        color: #1A3748;
    }
    .field{
        padding-bottom: 1.2em;
    }
}