.Contparticipante {
    //position: absolute;
    background: #ffffff;
    color: #aebac4;
    width: 229px;
    margin: 0 auto auto;
    padding: 16px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .border-img {
        border: 8px solid var(--verde-3);
        border-radius: 60px;
        #imguser {
            object-fit: cover;
            border-radius: 50px;
            clip-path: circle(44px at center);
            height: 88px;
            width: 88px;
        }
    }

    p {
        line-height: 2.5em;
        img {
            &.flag {
                width: 25px;
                margin-left: 8px;
            }
        }
        &.nacionalidad {
            display: flex;
            align-items: center;
        }
    }

    h3 {
        padding-top: 0em;
        font-weight: bold;
        padding-bottom: 0.7em;
        font-size: 18px;
        text-align: center;
        color: #1a3748;
    }

    #cups {
        color: black;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 8px;
        img {
            margin-right: 8px;
        }
    }

    #btnDlete {
        background: #eb5757;
        border-radius: 25px;
        color: #fbfbfb;
        padding: 6px 10px 8px;
        margin-left: auto;
        font-weight: 100;
        cursor: pointer;
        font-size: 14px;
        border: none;
    }
}
